<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/view.css">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>brand</th>
                <th>price</th>
                <th>YearOfCreation</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.getId()}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.brand}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.yearOfCreation}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>